<h2>Profile</h2>
<h3><%=@user.name %></h3>
<% if @user.id != session[:user_id] then %>
    <form method="POST" action="/follow">
    <% if @isFollow then %>
        <div class="siimple-btn siimple-btn--blue" >
            <input type="submit" name=follow value="unfollow">
        </div>
    <% else %>
        <div class="siimple-btn siimple-btn--blue" >
            <input type="submit" name=follow value="follow">
        </div>
    <% end %>
    <input type="hidden" name="user_id" value=<%=@user.id%> >
    </form>
<% end %>
<h2><%=@user.name %>'s Tweet</h2>
<table class="timeline">
    <tr>
    <th>tweet</th>
    <th>user</th>
    <th>date</th>
    </tr>
    <% @tweets.length.times do |i| %>
    <tr>
    <td><a href="/article/<%= @tweets[i].id %>"><%=@tweets[i].text%></a></td>
    <td><%=@user.name%></td>
    <td><%= getTime(@tweets[i].post_time)%></td>
    </tr>
    <%end%>
</table>