<h2>Profile</h2>
<h3><%=@user.name %></h3>
<% if @user.id != session[:user_id] then %>
    <form method="POST" action="/follow">
    <% if @isFollow then %>
        <div class="siimple-btn siimple-btn--blue" >
            <input type="submit" name=follow value="unfollow">
        </div>
    <% else %>
        <div class="siimple-btn siimple-btn--blue" >
            <input type="submit" name=follow value="follow">
        </div>
    <% end %>
    <input type="hidden" name="user_id" value=<%=@user.id%> >
    </form>
<% end %>

<a href="/user/<%= session[:user_id] %>/follow"><div class="siimple-btn siimple-btn--blue user-follow">Follow</div></a>
<a href="/user/<%= session[:user_id] %>/follower"><div class="siimple-btn siimple-btn--blue user-follow">Follower</div></a>

<h2><%=@user.name %>'s Tweet</h2>
<table class="timeline">
    <tr>
    <th>user</th>
    <th>tweet</th>
    <th>date</th>
    </tr>
    <% @tweets.length.times do |i| %>
    <tr>
    <td><%=@user.name%></td>
    <td><%=@tweets[i].text%></td>
    <td><%=@tweets[i].post_time%></td>
    </tr>
    <%end%>
</table>
